<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:os-core="http://openspaces.gigaspaces.org/schema/core"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:os-remoting="http://openspaces.gigaspaces.org/schema/remoting"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://openspaces.gigaspaces.org/schema/core http://openspaces.gigaspaces.org/schema/core/openspaces-core.xsd
       http://openspaces.gigaspaces.org/schema/remoting http://openspaces.gigaspaces.org/schema/remoting/openspaces-remoting.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!--
        Spring property configurer which allows us to use system properties (such as user.name).
    -->
    <bean id="propertiesConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

    <!--
        A bean representing a space (an IJSpace implementation).
        Note, we perform a lookup on the space since we are working against a remote space.
    -->


    <os-core:space id="space" url="jini://*/*/petclinic" lookup-timeout="20000" lookup-groups="${user.name}"/>

    <os-core:local-tx-manager id="jiniTransactionManager" space="space"/>

    <os-core:giga-space id="petclinic" space="space" tx-manager="jiniTransactionManager" />

    <bean id="dummyDataCreator" class="org.springframework.samples.petclinic.util.DummyDataCreator">
        <property name="dataFileResource" value="classpath:META-INF/dummyData.json"/>
    </bean>

    <bean id="idGenerator" class="org.springframework.samples.petclinic.gigaspaces.idgen.IdGeneratorImpl"/>
    <bean id="idGeneratingInvocationAspect" class="org.springframework.samples.petclinic.gigaspaces.IdGeneratingInvocationAspect"/>


    <bean id="findOwnersReducer" class="org.springframework.samples.petclinic.gigaspaces.FindOwnersReducer"/>
    <bean id="getVetsReducer" class="org.springframework.samples.petclinic.gigaspaces.GetVetsReducer"/>
    <bean id="petTypesAspect" class="org.springframework.samples.petclinic.gigaspaces.PetTypesAspect"/>
    <bean id="loadPetResultReducer" class="org.springframework.samples.petclinic.gigaspaces.LoadPetResultReducer"/>
    <bean id="petRoutingHandler" class="org.springframework.samples.petclinic.gigaspaces.PetRoutingHandler"/>
    <bean id="visitRoutingHandler" class="org.springframework.samples.petclinic.gigaspaces.VisitRoutingHandler"/>


    <os-remoting:executor-proxy id="clinicProxy" giga-space="petclinic" interface="org.springframework.samples.petclinic.Clinic"/>

    <context:annotation-config/>

    <tx:annotation-driven transaction-manager="jiniTransactionManager"/>


    <!--<os-remoting:executor-proxy id="clinicQueryProxy" giga-space="petclinic"-->
    <!--interface="org.springframework.samples.petclinic.Clinic">-->
    <!--</os-remoting:executor-proxy>-->


</beans>